.alert p {
  margin-bottom: 0!important;
}

body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d02bd0, #021854);  
  background: linear-gradient(to right, #d02bd0, #021854); 
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
header {
  margin: 30px 0;
}
.contenido {
  padding:20px;
}
.contenido-principal {
  background-color: #1c0d3e;
  padding: 30px;
  border-radius: 20px;
  border: #03eafc 2px solid;
}
.presupuesto p{
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color: #03eafc;
  text-align: center;
  font-size: 4.8rem!important;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color:#03eafc;
  margin-bottom:30px;
  font-size:3rem!important;
  text-align: center;
}
.campo {
  margin-bottom: 2rem;
  color: white
}
.error {
  text-align: center;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-primary {
  color: #004085;
  background-color: #bccfe4;
  border-color: #b8daff;
}
.alert-success {
  color: #155724;
  background-color: #8ad49b;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.gastos-realizados  {
  margin-bottom: 2rem;
}
.gastos-realizados li{
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}
.gastos-realizados li:last-of-type {
  margin-bottom: 0!important;
}
.gastos-realizados li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
}
.gastos-realizados li p .gasto {
  background-color: #115675;
  padding: 1rem;
  min-width: 70px;
  text-align: center;
  color:white;
}

.mainImage {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 10px auto 40px auto ; 
}

@media (max-width: 640px) {
  .mainImage {
    width: 300px;
  }
  
}